
{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<body id = "home">
    
    
    <div id="Lax">LaxCalc </div>
    <div class="content-section">
        <div class="media">
            <img id = "photo" src="{{ image_file }}">
        </div>
    
    </div>
</body>
<h1 id="essay">Welcome to LaxCalc! This is the perfect way to get better at the sport of lacrosse. Whether you are a beginner, or division one athlete, this is the perfect resource to help you improve your skills! All you have to do is insert simple information like whether you have a wall/net at your disposal, how long you want to workout for, and the amount of balls you have, and Lax Calc will create your own customized workout! With resources spanning all across the internet, there are over 1,000,000 different workouts you could be given!</h1>


{% endblock %}